/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

@font-face {
    font-family: "Coast";
    src: url("fonts/Coast.woff2") format("woff2"),
         url("fonts/Coast.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura PT";
    src: url("fonts/FuturaPT.woff2") format("woff2"),
         url("fonts/FuturaPT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Futura PT", sans-serif;
    color: #432918;
    background-color: #f8f8fc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Coast", serif;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #cdae9a;
}

.resume-main {
	background-color: #f4efeb;
}

.resume-aside {
	background-color: #dfcdbf;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #432918;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1.4em;
	flex-basis: 1.4em;
}
.w-120 {
}
.language-level .language-progress {
    background-color: #f4efeb !important; /* Change to your desired color */
}
 
.language-level  {
    background-color: #dcc5b2 !important; /* Change to your desired color */
}
.language-level {
    border: 4px solid #ff00dd; /* Change to your desired border color */
    border-color: #432918 !important;
    border-radius: 0px; /* Optional: Add rounded corners */
	
}
 
